<center><a href="#"><h1>Lockr</h1></a><center>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'My Account', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'My Listings', mylistings_path %></li>
        <li><%= link_to 'Post An Ad', new_listing_path %></li>

      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

    </ul>
    
    <%= form_tag search_listings_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: 'What Are You Looking For?' %>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
      <%= submit_tag 'Search' %>
    <% end %>
    
      <br>

<h1><center>Post An Ad<center></h1>
<div class="container">
  <div id="contact-area">
    <%= form_for @listing do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <p>
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map { |f| [f.name, f.id]} %>
        </p>
        <%= f.label :subcategory_id %>
        <%= f.select :subcategory_id, Subcategory.all.map { |f| [f.name, f.id]} %>
        </p>
        <%= f.label :city %>
        <%= f.text_field :city %>
        <%= f.label :province %>
        <%= f.text_field :province %>
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: 'zip-width' %>
        <%= f.submit class: 'create-button' %>
    <% end %>
  </div>
</div>