<center><a href="#"><h1>Lockr</h1></a><center>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'My Account', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'My Listings', mylistings_path %></li>
        <li><%= link_to 'Post An Ad', new_listing_path %></li>

      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

    </ul>
    
    <%= form_tag search_listings_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: 'What Are You Looking For?' %>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
      <%= submit_tag 'Search' %>
    <% end %>
    
      <br>
      
<div class="container">
  <ul class="list-margin">
    <% if @listings.present? %>
        <% @listings.each do |listing| %>
        <li>
            <span>
                <%= listing.created_at.strftime('%B %d, %Y') %>
            </span>
                <%= link_to listing.title, listing %> - (<%= listing.city %>, <%= listing.province %>)
        </li>
        <% end %>
    <% else %>
        <p>No Listings</p>
    <% end %>
  </ul>
</div>