<center><a href="#"><h1>Lockr</h1></a><center>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'My Account', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'My Listings', mylistings_path %></li>
        <li><%= link_to 'Post An Ad', new_listing_path %></li>

      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

    </ul>
    
    <%= form_tag search_listings_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: 'What Are You Looking For?' %>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
      <%= submit_tag 'Search' %>
    <% end %>
    
      <br>

    <div class="container">
    <div class="floatLeft">
      <table>
        <tr>
          <th class="table-header"><%= link_to 'Uniforms', category_path(@uniform)%></th>
        </tr>
        <tr>
          <td>
            <% @uniform.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@uniform, subcategory) %></li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="floatLeft">
    <table>
    <tr>
      <th class="table-header"><%= link_to 'Textbooks', category_path(@textbook) %></th>
    </tr>
    <tr>
      <td>
        <% @textbook.subcategories.each do |subcategory| %>
        <ul>
        <li><%= link_to subcategory.name, category_subcategory_path(@textbook, subcategory) %></li>
        </ul>
        <% end %>
      </td>
    </tr>
  </table>
  </div>
  
    <div class="floatLeft">
    <table>
    <tr>
      <th class="table-header"><%= link_to 'Tutors', category_path(@tutor) %></th>
    </tr>
    <tr>
      <td>
        <% @tutor.subcategories.each do |subcategory| %>
        <ul>
        <li><%= link_to subcategory.name, category_subcategory_path(@tutor, subcategory) %></li>
        </ul>
        <% end %>
      </td>
    </tr>
  </table>
  </div>
  </div>